<!doctype HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="todo.js"></script> 
    <link rel="stylesheet" href="style.css">
    <title>Angular Practice</title>
    <style>
        .done{text-decoration: line-through;color: #ccc;}
        .navbar-inverse{background-color:black;}
    </style>
</head>
<body ng-app="myApp">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Practice Suite</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">To-Do List</a></li>
      <li><a href="#">Inline Editor</a></li>
      <li><a href="#">Order Form</a></li>
      <li><a href="#">Filter Search</a></li>
    </ul>
  </div>
</nav>
<h4>Angular To-Do List!</h4>
<div ng-app ng-controller="todoController">
    <form name="frm" ng-submit="addTodo()">
        <input type="text" name="newTodo" ng-model="newTodo" required />
        <button class="btn btn-success btn-sm" ng-disabled="frm.$invalid">Add to List</button>
        <button type="button" class="btn btn-sm btn-primary btn-inline" ng-click="clearCompleted()">Clear Completed</button>   
    </form><br>
    <ul class="list-group wrapp">
        <li class="list-group-item" ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span ng-class="{'done':todo.done}">{{todo.title}}</span>
        </li>
    </ul>
</div>
<h4>Inline Text Editor</h4>
<div id="main" ng-app ng-controller="InlineEditorController" ng-click="hideTooltip()">
  <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
    <input type="text" ng-model="value" />
  </div>
  <p class="para" ng-click="toggleTooltip($event)">{{value}}</p>      
</div>
<h4>Order Form</h4>
<form class="myform" ng-app ng-controller="OrderFormController">
  <h1> Services </h1>
  <ul>
    <li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
      {{service.name}} <span>{{service.price | currency}}</span>
    </li>
  </ul>
  <div class="total">
    Total: <span>{{total() | currency}} </span>
  </div>
</form>
<h4>Filter Search</h4>
<div ng-app="instantSearch" ng-controller="InstantSearchController">
  <div class="bar">
    <input type="text" ng-model="searchString" placeholder="Enter your search terms.."/>
  </div>
  <ul class="wrapp filter-ul">
    <li ng-repeat="i in items | searchFor:searchString">
      <a href="{{i.url}}"><img ng-src="{{i.image}}" alt="image"/></a>
      <p>{{i.title}}</p>
    </li>
  </ul>
</div>
</body>
</html>